@mixin basic-font-color() {
	color: $csr_data_second_color;
	background-color: $csr_data_first_color;

	margin-left: .2em;
	margin-right: .2em;
}
.csr-data-h1 {

	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top:.5em;


  @include basic-font-color ;
}

.csr-data-h2 {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top:.5em;

  @include basic-font-color ;

}

.csr-data-h3 {

	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top:.5em;

  @include basic-font-color ;
}


.csr-data-h4 {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top:.5em;

  @include basic-font-color ;
}


.csr-data-h5 {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top:.5em;

  @include basic-font-color ;
}

