@mixin csr_data_basic_title(){
	color: $csr_data_second_color;
	background-color: $csr_data_first_color;

	margin-left: .2em;
	margin-right: .2em;
}

@mixin csr_data_basic_padding($left, $right, $bottom, $top){
  padding-left: $left;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-top: $top;
}


.csr-data-h1 {

  @include csr_data_basic_title() ;
  @include csr_data_basic_padding(1em, 1em, .5em, .5em);

}

.csr-data-h2 {

  @include csr_data_basic_title() ;
  @include csr_data_basic_padding(1em, 1em, .5em, .5em);

}

.csr-data-h3 {

  @include csr_data_basic_title() ;
  @include csr_data_basic_padding(1em, 1em, .5em, .5em);

}


.csr-data-h4 {

  @include csr_data_basic_title() ;
  @include csr_data_basic_padding(1em, 1em, .5em, .5em);

}


.csr-data-h5 {

  @include csr_data_basic_title() ;
  @include csr_data_basic_padding(1em, 1em, .5em, .5em);

}
