nav(class='csr-data-navigation')
  li(class='csr-data-navigation-links')
    a(class='csr-data-link', href='#') Accueil
  li(class='csr-data-navigation-links')
    a(class='csr-data-link', href='#') Articles
  li(class='csr-data-navigation-links')
    a(class='csr-data-link', href='#') A propos
