doctype html
html(lang="en")
  include base/csr_data_header.jade
  body(lang='fr-FR')
    include base/csr_data_navigation.jade
    div(class='container')
      h2.csr-data-h2 Theme title
      h4.csr-data-h4 lorem ipsum description courte theme
      include components/csr_data_articles_list.jade
    include components/footer.jade
