div(class='window')
  div(class='header')
    Accueil
  div(class='content')
    h3 Bienvenue sur CSR 4 DATA Meilleur site de travail sur la data des ressources humaines
    p notre site est un site d'informations sur les ressources humaines Nous vous souhaitons la bienvenue n'hesitez pas à faire part de vos impressions Nous vous souhaitons une bonne visite
    button Lancer l'application 
