div(class='window')
  div(class='header')
    Article
  div(class='content') 
    article(class='windows-info')
      h4 Titre de l'article
        p Texte de l'article Lorem ipsum
        p Texte de l'article Lorem ipsum 2
