/*
  Others styles
*/

/*
	Create square glyph
*/
span.csr-data-square-glyph {
/* First approach

color: black;
background-color: black;

border: 2px color black;
padding: 2px 8px ;

height: 10px ;
width: 5px;

*/

  color: $csr_data_first_color;
  background: #000;
  padding: .2em;
  margin: .2em;
  width: 30%;

  position:relative;

  content:'';
}
.csr-data-author {
  text-align: right;
  padding-right: 7em;
  margin-right: 2em;
  margin-left: 1em;
}
.csr-data-math-formula {
/*
Trouver une solution pour
le border radius
Formule en h
*/
border: 1px solid $csr_data_first_color;

padding-left: 1em;

color: black;
background-color: $csr_data_second_color ;

width: 50%;
}

/*
Styles provenant d'essais
effectués
*/
#csr-data-dataviz-article {
  content: "D3.005 - Linear Scale";
  font-family:"Andale Mono", Consolas;
  font-size:16pt;
  display:block;
  color: hsla(187, 85%, 75%, .5);
  position:fixed;
  bottom: 0;
  margin: 10px 0;
}
