div(class='media win98 menu')
  div(class='media-left')
    img(src='img/ohmydoc.png', class='media-object', alt='photo participant projet')
  div(class='media-body')
    h4 Nom du contributeur
    p Petite Bio simple du contributeur avec ajout des hobby et autres
