div(class='block-centered')
            div(class='menu')
              div(class='menu-sidebar')
                div(class='headline')
                  strong MoriWinD 
              ul(class='menu-content')
                li(class='item folder')
                  strong Visualisations 
                  ul(class='menu-content')
                    li(class='item') Visualisation lorem 
                    li(class='item') Visualisation lorem 1
                    li(class='item') Visualisation lorem 2 
                    li(class='item') Visualisation lorem 3 
                li(class='item folder')
                  strong Rubriques 
                  ul(class='menu-content')
                    li(class='item') Rubrique lorem 
                    li(class='item') Rubrique ipsum 
                li(class='item folder')
                  strong Articles 
                  ul(class='menu-content')
                    li(class='item') Article lorem 
                    li(class='item') Article lorem2
                    li(class='item') Article lorem2
                    li(class='item') Article lorem2
                li(class='item folder')
                  strong A propos de nous 
                  ul(class='menu-content')
                    li(class='item') L'équipe 
                    li(class='item') Nous contacter 

