/*
   About page styles
*/
.csr-data-contributor-biography {
  font-size: 2.5em;
  color: $csr_data_second_color;
  background-color: $csr_data_first_color;
}

.csr-data-contributor-identity {

}


.csr-data-learn-more:hover {
background-color: $csr_data_first_color;
color: $csr_data_second_color;
}

.csr-data-about {
padding: 1em auto;
margin: 1em auto;
width:50%;

}

.csr-data-learn-more {
text-decoration:none;

background-color: $csr_data_second_color;
color: $csr_data_first_color;

padding: .5em .5em;

border: 1px solid $csr_data_first_color;
border-radius: 12px;
}
.csr-data-short-text-image {
  display: block;
  padding: 1em;
}

.csr-data-author-identity {
  text-transform: capitalize;
}

