/*
   Articles styles
*/
.csr-data-articles-display{
text-align:center;
padding: 2em auto;
margin: 2em auto;

width: 70%;
}

.csr-data-articles-list {
list-style-type: none;
}

.csr-data-article-title {
font-size: 2em;
margin-top: 0;

background-color: black;
color: white;
}

.csr-data-article-homepage-display {
margin-top: 13px;
margin-bottom: 13px;

padding-bottom: 1em;

border: 1px solid black;
}

.csr-data-information-note {
border: .3em solid black;
font-size: 2em;
text-align: center;
text-transform: uppercase;
width: 50%;

margin: 1em auto;

color: white;
background-color: black;
}

.csr-data-synthesis{
padding: 1em auto;
margin: 1em auto;
width: 40%;

text-align:center;
}
.csr-data-synthesis-title > h4{
padding: 1em auto;
margin: 1em auto;
width: 30%;

font-size: 1.5em;
}

