.csr-data-navigation {

  display:flex;

}

.csr-data-navigation-links {

 text-decoration:none;

 list-style-type: none;



 padding: 1em;

 margin: 1em;

}

.csr-data-navigation-links:hover {

 list-style-type: square;

}
