/*
  Separator
*/

.csr-data-hr-long-separator {
	color: black;
	width: 50%;
	border: 2px solid black;
}

.csr-data-hr-short-separator {
	color: black;
	width: 10%;
	border: 4px solid black;
}

