.csr-data-h1 {

	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top:.5em;

	margin-left: .2em;
	margin-right: .2em;

	color: white;
	background-color: black;

}

.csr-data-h2 {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top:.5em;

	margin-left: .2em;
	margin-right: .2em;

	color: white;
	background-color: black;

}

.csr-data-h3 {

	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top:.5em;

	margin-left: .2em;
	margin-right: .2em;

	color: white;
	background-color: black;
}


.csr-data-h4 {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top:.5em;

	margin-left: .2em;
	margin-right: .2em;

	color: white;
	background-color: black;
}


.csr-data-h5 {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top:.5em;

	margin-left: .2em;
	margin-right: .2em;

	color: white;
	background-color: black;
}



